<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Admin</title>
  </head>
  <body>
    {% for i,j in values: %}
    <div class="card" style="width: 5;">
        <div class="card-body">
          <h5 class="card-title">{{j['title']}}</h5>
          <h5 class="card-title">{{i['actionType']}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{i['userEmail']}}</h6>
          <div style="display: flex">
          <a href="admindelete/{{i['storyId']}}/{{i['userEmail']}}/{{i['actionType']}}" class="btn btn-primary">Delete Action</a>
          <h5>{{i['score']}}</h5>
          </div> 
        </div>
      </div>
    {%endfor%}
    <div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
