<html>
<head>
  <meta charset="utf-8" />
  <title>Auth0 Example</title>
</head>
<body>
  {% if session %}
      <h1>Welcome {{session.userinfo.name}}!</h1>
      <p><a href="/logout">Logout</a></p>
      <div><pre>{{pretty}}</pre></div>
  {% else %}
    <h1>Hacker News</h1>
    <p>Read, share, and discuss the latest news in the cyber world.</p>
    <p><a href="/login">Login</a></p>
  {% endif %}
</body>
</html>