<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>News</title>
  </head>
  <body class="card-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-color">
      <a class="navbar-brand" href="#">Hknews</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/news">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
    </nav>
    {%for i in values %}
    <div class="card card-5" style="width: 5;" >
        <div class="card-body">
          <h5><a class="card-title" href="{{i['url']}}" target="_blank">{{i['title']}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{i['by']}}</h6>
          <div style="display: flex">
          <a href="like/{{i['id']}}" class="btn card-3">Like</a>
          <a href="dislike/{{i['id']}}" class="btn card-3">Dislike</a>
          <h5 class="div-right">{{i['score']}}</h5>
          </div> 
        </div>
      </div>
    {%endfor%}
    <div>
    </div>
    <div>
      {{pagination.links}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
