<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Profile</title>
      </head>
      <style>
        body {
            background-color: #454ADE;
        }

        .rectangle-top {
            background-color: #1B1F3B;
            margin: auto;
            padding: 20px;
            width: 700px;
            min-height: 50px;
            display:flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .rectangle-bottom {
            background-color: #1B1F3B;
            margin: auto;
            padding: 20px;
            width: 700px;
            min-height: 100px;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        
        .center-title {
            font-size: 50px;
            color: #ffffff;
        }

        .center-sub {
            font-size: 30px;
            color: #adadad;
        }

      </style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-color">
        <a class="navbar-brand" href="#">Hknews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/news">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
          </li>
          </ul>
        </div>
      </nav>

      <div class="rectangle-top">
        <h1 class="center-title">Profile</h1>
      </div>

      <div class="rectangle-bottom">
        <h2 class="center-sub">Name:&#9;{{values[0]}}</h2>
        <h2 class="center-sub">Email:&#9;{{values[1]}}</h2>
      </div>
    </body>
</html>